body{
    background-color: #162831;
    margin: 0px;
    width: 100%;
}
a {
    color: #fff;
    text-decoration: none;
}
.container{
    width: 1296px;
    margin: auto;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
}
.header__menu ul{
    display: flex;
    justify-content: space-between;
}
.header__menu li{
    user-select: none;
    color: #fff;
    list-style-type: none;
    padding: 0px 50px 0px 0px;
}
.button__header{
    padding: 9px 15px;
    background-color: #018ABE;
    color: #fff;
    border-radius: 3px;
}
.first__screen{
    display: flex;
    justify-content: center;
}
.text__screen{
    position: absolute;
    color: #fff;
    text-align: center;
    font-family: 'El Messiri';
}
.p1{
    font-size: 24px;
    padding-top: 136px;
    margin: 0px;
}
.p2{
    font-size: 64px;
    padding: 40px;
}
.first__screen img{
    padding-top: 50px;
}
.services{
    width: 1296px;
    margin-top: 150px;
}
.lap{
    margin: auto;
    display: block;
}
.services__block{
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
}
.block__one{
    padding-right: 24px;
}
.block__one a{
    position: absolute;
    top: 1505px;
    padding-left: 50px;
    font-family: 'El Messiri';
    font-size: 24px;
}

.top{
    position: absolute;
    padding-top: 194px;
    padding-left: 40px;
    font-family: 'El Messiri';
    font-size: 24px;
}
.bottom{
    position: absolute;
    padding-top: 476px;
    padding-left: 40px;
    font-family: 'El Messiri';
    font-size: 24px;
}
.container__reviews{
    width: 1736px;
    margin: auto;
}
.reviews{
    margin-top: 150px;
}
.slider__wrapper ol{
    align-items: center;
}
.slider__container{
    display: flex;
    justify-content: space-between;
    padding-top: 100px;
    height: 350px;
    align-items: center;
}
.slider__item{
    width: 410px;
    height: 128px;
    background-color: #0f3c4e;
    border-radius: 10px;
    padding: 77px 45px 45px 71px;
}
.slider__item p {
    font-size: 10px;
    color: rgb(137, 137, 137);
}
.up__text{
    font-size: 22px;
    color: rgb(137, 137, 137);
    padding: 0%;
    position: absolute;
    margin-top: -35px;
}
.big{
    width: 516px;
    height: 196px;
    background-color: #018ABE;
    border-radius: 10px;
    padding: 88px 60px 60px 56px;
}
.big p{
    font-size: 14px;
    color: #fff;
}
.big div {
    font-size: 22px;
    color: rgb(255, 255, 255);
    padding: 0%;
    position: absolute;
    margin-top: -35px;
}
.slider__small{ /* malyk*/
    width: 410px;
    height: 128px;
    background-color: #0f3c4e;
    border-radius: 10px;
    padding: 77px 45px 45px 71px;
    transition: 1.3s;
}
.slider__small p{
    font-size: 10px;
    color: rgb(137, 137, 137);
    transition: 1.3s;
}
.slider__small div {
    color: rgb(137, 137, 137);
    transition: 1.3s;
}
.slider__big{ /* bolshoy*/
    width: 516px;
    height: 196px;
    background-color: #018ABE;
    border-radius: 10px;
    padding: 88px 60px 60px 56px;
    transition: 1.3s;
}
.slider__big p{
    font-size: 14px;
    color: rgb(255, 255, 255);
    transition: 1.3s;
}
.slider__big div {
    color: rgb(255, 255, 255);
    transition: 1.3s;
}
.item__squard{
    display: flex;
    justify-content: center;
    margin-top: 60px;
    padding: 0px;
}
.dots{
    background-color: #214252;
    height: 16px;
    width: 16px;
    list-style: none;
    border-radius: 3px;
    margin: 0px 10px;
    transition: 0.5s;
}
.active{
    background-color: rgb(255, 255, 255);
    transition: 0.5s;
}
.link{
    color: #fff;
    background-color: #214252;
    list-style: none;
    font-size: 50px;
    margin: 0px 50px;
    padding: 0px 20px;
    border-radius: 3px;
    user-select: none;
}
.link:hover {
    background-color: #34637a;
}
.container__about__price{
    width: 1076px;
    margin: auto;
    margin-top: 150px;
}
.item__about__up{
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
    align-items: center;
}
.item__about__down{
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
    align-items: center;
}
.left__about{
    width: 466px;
}
.upper__text__about{
    font-family: system-ui;
    font-size: 24px;
    color: #fff;
}
.text__about{
    font-family: system-ui;
    font-size: 13px;
    color: #FFFFFF;
    margin-top: 40px;
}
.price{
    margin-top: 150px;
}
.price__item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 100px;
}
.list li{
    user-select: none;
    list-style-type: none;
    color: #fff;
    font-family: system-ui;
    font-size: 16px;
    line-height: 320%;
}
.left__list li:before{
    content: url(images/Rectangle\ 27.png);
    margin-right: 20px;
}
.container__map{
    width: 1296px;
    margin: auto;
    margin-top: 150px;
}
.maps{
    display: flex;
}
.pool__container{
    margin: 10px;
}
.pool{
    background-color: #018ABE;
    border-radius: 10px;
    width: 357px;
    height: 222px;
    padding: 35px 45px 35px ;
    margin-left: 48px;
}
.pooL{
    margin-bottom: 21px;
}
.pool__up{
    font-family: 'El Messiri';
    font-size: 24px;
    color: #FFFFFF;
}
.pool__down{
    display: flex;
    margin-bottom: 30px;
}
.pool__down ul{
    padding: 0px;
    margin-right: 20px;

}
.pool__down li{
    font-family: system-ui;
    font-size: 14px;
    color: #FFFFFF;
    margin-top: 20px;
    list-style-type: none;
}
.pool a {
    padding: 9px 15px;
    background-color: #fff;
    border-radius: 3px;
    color: #018ABE;
}
.main__footer{
    color: #fff;
    display: flex;
    justify-content: space-between;
    margin: 90px 0px 30px;
}